#divContent > form, #divContent div {
    display: flex; /* flexbox 레이아웃 사용 */
    justify-content: center; /* 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
}

#divContent > form{
    width: 100%; /* 폼의 너비를 100%로 설정 */
    flex-direction: column; /* 열 방향으로 정렬 */
    background-color: beige; /* 배경색을 베이지로 설정 */
}


#divContent > form > div {
    width: 80%; /* div의 너비를 80%로 설정 */
    margin:10px; /* 여백을 10px로 설정 */
}

input {
    width:100%; /* 입력 상자의 너비를 100%로 설정 */
    height:30px; /* 입력 상자의 높이를 30px로 설정 */
    display: inline-flex; /* inline-flex 레이아웃 사용 */
    margin-right: 10px; /* 오른쪽 여백을 10px로 설정 */
}

#txt2{
    background-color: beige; /* 배경색을 베이지로 설정 */
    color:blue; /* 글자색을 파란색으로 설정 */
}

button {
    width: 30%; /* 버튼의 너비를 30%로 설정 */
    display: inline-flex; /* inline-flex 레이아웃 사용 */
    margin-right: 10px; /* 오른쪽 여백을 10px로 설정 */
}
