#divContent > div {
    width: 100%; /* div의 너비를 100%로 설정 */
    height: 40px; /* div의 높이를 40px로 설정 */
    padding: 10px; /* padding을 10px로 설정 */
    margin: 10px; /* margin을 10px로 설정 */

    display: flex; /* flexbox 레이아웃 사용 */
    justify-content: center; /* 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
    /* border: 1px solid gainsboro; */
}

input[type=text] {
    width: 90%; /* 입력 상자의 너비를 90%로 설정 */
    height: 90%; /* 입력 상자의 높이를 90%로 설정 */
    text-align: center; /* 텍스트 중앙 정렬 */
    font-size: large; /* 폰트 크기를 크게 설정 */
}

button {
    width: 20%; /* 버튼의 너비를 20%로 설정 */
    display: inline-flex; /* inline-flex 레이아웃 사용 */
    margin: 5px; /* margin을 5px로 설정 */
}